[submodule "steal"]
	path = steal
	url = git@github.com:mowen/steal.git
[submodule "funcunit"]
	path = funcunit
	url = git@github.com:mowen/funcunit.git
[submodule "jquery"]
	path = jquery
	url = git@github.com:mowen/jquerymx.git
